@import "./base/modern-normalize";
@import "./utilities/variables";
@import "./common_styles/common-styles";
@import "./components/header";
@import "./components/navigation";
@import "./components/hero";
@import "./components/advantages";
@import "./components/activities";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/modal-window";
@import "./components/portfolio/filter-button";
@import "./components/portfolio/projects";

