.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $gray-color-header-border;
}
.logo {
  color: var(--logo-black-color);
  font-family: $font-raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: $accent-color;
  padding: 24px 0;
  margin-right: 93px;
  &__accent {
  color: $logo-black-color;
}

}
.container--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: left;
}
.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

&__link {
  color: $primary-black-color;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include transition();
}
&__link:hover,
&__link:focus {
  color: $accent-color;
  cursor: pointer;
}
&__link--main-page {
  color: $accent-color;
}
&__link--main-page::before {
  position: absolute;
  bottom: 0;
  left: -1px;
  content: '';
  display: inline-block;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}

}
// .navigation-list__link {
//   color: $primary-black-color;
//   font-weight: 500;
//   line-height: calc(16 / 14);
//   letter-spacing: 0.02em;
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;
//   // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   @include transition();
// }
// .navigation-list__link:hover,
// .navigation-list__link:focus {
//   color: $accent-color;
//   cursor: pointer;
// }
.navigation-list__item {
  margin-right: 50px;
}
// .navigation-list__link--main-page {
//   color: $accent-color;
// }
// .navigation-list__link--main-page::before {
//   position: absolute;
//   bottom: 0;
//   left: -1px;
//   content: '';
//   display: inline-block;
//   width: 48px;
//   height: 4px;
//   border-radius: 2px;
//   background-color: $accent-color;
// }

.navigation-list__item--accent {
  position: relative;
}
/* contacts */
.contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;

  &__link {
  display: flex;
  align-items: center;
  color: $secondary-black-color;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding: 32px 0;
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include transition();
}
&__link:hover,
&__link:focus {
  color: $accent-color;
  cursor: pointer;
}
&__svg {
  display: flex;
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
&__svg--smartphone {
  width: 10px;
  height: 16px;
}
}

// .contacts-list__link {
//   display: flex;
//   align-items: center;
//   color: $secondary-black-color;
//   font-weight: 500;
//   line-height: calc(16 / 14);
//   letter-spacing: 0.02em;
//   padding: 32px 0;
//   // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   @include transition();
// }
// .contacts-list__link:hover,
// .contacts-list__link:focus {
//   color: $accent-color;
//   cursor: pointer;
// }
// .contacts-list__svg {
//   display: flex;
//   width: 16px;
//   height: 12px;
//   fill: currentColor;
//   margin-right: 10px;
// }
// .contacts-list__svg--smartphone {
//   width: 10px;
//   height: 16px;
// }