.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  color: $primary-white-color;
  text-align: center;
  height: 600px;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.section-title--hero {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px auto;
}
.button {
  color: inherit;
  font: inherit;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  padding: 10px 10px;
  border: 0px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  margin: 0 auto;
  min-width: 206px;
  height: 50px;
  justify-content: center;
  align-items: center;

&--hero {
  min-width: 216px;
  // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include transition(background-color);
}
&--hero:hover,
&--hero:focus {
  background-color: $accent-color-main-button;
}
&:hover,
&:focus {
  cursor: pointer;
}


}
