body {
  /* max-width: 1600px; */
  color: $primary-black-color;
  background-color: $primary-white-color;
  font-family: $font-roboto;
  font-size: 14px;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}